html {
	background-color: white;
}

body {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 13px;
    line-height: 1.846em;
    font-weight: 600;
}

.ba_button {
	background-color: red !important;
}
